table {
    width: 100%;
    overflow-x: auto;
    float: left;
}

p {
    padding: 10px;
    margin: auto;
    text-align: center;
}

.dropdown {
    padding: 5px;
    float: left;
}

.dropdownstate .dropdown-menu {
    padding: 5px;
    float: left;
    height: 400px;
    overflow-y: scroll;
}

.buttonMenu {
    width: 100%;
}