<div class="tableContainer" *ngIf="showTable == true;">
    <hr>
    <p>
        <i>{{procedure | titlecase }}</i></p>
    <hr>
    <div class="btn-group" role="group" aria-label="Basic example">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort By
    </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" *ngFor=" let option of sortOptions ">{{option}} </a>
            </div>
        </div>

        <div class="dropdownstate">


            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          State
        </button>


            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" *ngFor=" let state of states ">{{state}} </a>
            </div>
        </div>

    </div>

    <table mdbTable class="table table-striped">
        <thead>
            <tr>
                <th *ngFor=" let head of headElements " scope="col ">{{head}} </th>
            </tr>
        </thead>
        <tbody>
            <tr mdbTableCol *ngFor="let item of tableData; let i=index ">
                <th scope="row ">{{i + 1}}</th>
                <td>{{item.providerName | titlecase}}</td>
                <td>{{item.providerZipCode}}</td>
                <td>${{item.averageTotalPayments }}</td>
            </tr>
        </tbody>
    </table>

</div>