<hr>
<p>
    <i>{{procedure | titlecase }}</i></p>
<hr>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort By
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" *ngFor=" let option of sortOptions ">{{option}} </a>
    </div>
</div>

<table mdbTable class="table table-striped">
    <thead>
        <tr>
            <th *ngFor=" let head of headElements " scope="col ">{{head}} </th>
        </tr>
    </thead>
    <tbody>
        <tr mdbTableCol *ngFor="let item of tableData; let i=index ">
            <th scope="row ">{{i + 1}}</th>
            <td>{{item.providerName | titlecase}}</td>
            <td>{{item.providerZipCode}}</td>
            <td>${{item.averageTotalPayments }}</td>
        </tr>
    </tbody>
</table>