.row {
    text-align: center;
    float: right;
    margin: auto;
    width: 100%;
}

.left {
    text-align: left;
    width: 50%;
    padding: 10px;
    height: auto;
}

.right {
    text-align: right;
    width: 50%;
    padding: 10px;
    height: 720px;
}

.right-wide {
    text-align: center;
    width: 100%;
    padding: 10px;
    height: 720px;
}

.wrapper {
    background: linear-gradient(to right, white, white);
    padding-top: 20px;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    padding-top: 20px;
    height: 200vh;
    background: #fff;
    box-shadow: 0px 13px 40px -13px rgba(0, 0, 0, 0.75);
    width: 90%;
    margin: 0 auto;
}