.searchBar {
    width: 100%;
    list-style-type: none;
    margin: auto;
    text-align: center;
    padding: 20px;
    padding-bottom: 5px;
}

.form-group {
    padding: 10px;
}

ul#menu li {
    display: inline;
}

li {
    padding: 16px;
    text-decoration: none;
}

#geobutton {
    border-radius: 100%;
}