<div class="wrapper">
  <div class="main">

        <h2>
          About Us
        </h2>
        <br>


          <div class="text-container">
            <div class="text">

              <h5>
                What are we?
              </h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.</p>

                <br>

                <h5>
                  Why use us?
                </h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                  It has survived not only five centuries, but also the leap into electronic typesetting,
                  remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                  containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                  including versions of Lorem Ipsum.</p>

                  <br>

                <h5>
                  Where are we found?
                </h5>
                <p>Craneware Healthcare Intelligence <br>
                  12570 Perry Highway <br>
                  Suite 110 <br>
                  Wexford, PA 15090 <br>
                  Tel: +1 412 402 9190</p>

            </div>



          </div>
  </div>
</div>

<br>

<router-outlet> </router-outlet>
