<div class="searchBar">

    <form #searchBar="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Location 📍">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Procedure 🩺" id="procedure" [(ngModel)]="model.code" name="procedure">
        </div>
        <button type="submit " class="btn btn-success " (click)="newSearch();">Search</button>
    </form>
</div>