<div class="right tableContainer" *ngIf="showTable">

    <!-- Name of current procedure -->
    <p style="text-align: center"><i>{{procedure}}</i></p>


    <!-- Loading Circle -->
    <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </mat-card>

    <!-- filtering -->
    <div class="tableContainer" *ngIf="isLoading == false;">
        <div class="example-header">

            <div class="filter">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value); loadCurrent();" placeholder="Search By Name">
                </mat-form-field>
            </div>
            <!-- <div class="filter">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value); loadCurrent();" placeholder="State">
                </mat-form-field>
            </div>
            <div class="filter">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value); loadCurrent();" placeholder="Zip">
                </mat-form-field>
            </div> -->
        </div>



        <div [ngClass]="['table-container mat-elevation-z8']" *ngIf="dataSource">

            <mat-table [dataSource]="dataSource" matSortActive="providerDistance" matSortDirection="asc" matSort>

                <!-- name Column -->
                <ng-container matColumnDef="providerName">
                    <mat-header-cell id="sortbutton" *matHeaderCellDef mat-sort-header (click)="loadCurrent();"> Name </mat-header-cell>
                    <mat-cell *matCellDef="let item;">{{item.providerName}} </mat-cell>
                </ng-container>

                <!-- state Column -->
                <!-- <ng-container matColumnDef="providerState">
                    <mat-header-cell *matHeaderCellDef mat-sort-header (click)="loadCurrent();"> State </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.providerState}}</mat-cell>
                </ng-container> -->


                <!-- cost Column -->
                <ng-container matColumnDef="averageTotalPayments">
                    <mat-header-cell id="sortbutton" *matHeaderCellDef mat-sort-header (click)="loadCurrent();"> Cost </mat-header-cell>
                    <mat-cell *matCellDef="let item">${{item.averageTotalPayments}} </mat-cell>
                </ng-container>

                <!-- zip Column -->
                <!-- <ng-container matColumnDef="providerZipCode">
                    <mat-header-cell *matHeaderCellDef mat-sort-header (click)="loadCurrent();"> Zip </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.providerZipCode}} </mat-cell>
                </ng-container> -->


                <!-- Distance Column -->
                <ng-container matColumnDef="providerDistance">
                    <mat-header-cell id="sortbutton" *matHeaderCellDef mat-sort-header (click)="loadCurrent();"> Distance
                    </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.providerDistance}} miles</mat-cell>
                </ng-container>

                <ng-container matColumnDef="moreInfo">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let item; let i = index;">
                        <button type="button" matTooltip="View More Information" class="btn btn-primary btn-circle btn-circle-sm m-1" data-toggle="modal" data-target=".bd-example-modal-xl" (click)="loadMoreInfo(item)">
                            <i class="fa fa-info"></i>
                        </button>
                        <button type="button" matTooltip="View On Map" class="btn btn-danger btn-circle btn-circle-sm m-1" (click)="markerZoom(i)">
                                <i class="fa fa-map-marker"></i>
                        </button>
                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>



            <!-- Page through table -->
            <mat-paginator (click)="loadCurrent();" [pageSizeOptions]="[10]"></mat-paginator>
        </div>

        <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">

                        <h1 class="modal-title" id="exampleModalLabel">{{moreInfoItem.providerName}}</h1>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div *ngIf="(rating > 0) == true" class="text-center">
                            <div class="title">
                                <h3>Rating</h3>
                            </div>
                            <div class="title" id="rating">
                                <div id="rating">
                                    <h3>{{rating}}</h3>
                                </div>
                            </div>
                            <div class="title">
                                <h2> <i *ngFor="let star of stars" [class]="iconClass[star]" id="stars"></i></h2>
                            </div>
                        </div>

                        <div *ngIf="(photos.length > 0) == true" class="container">
                            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                                <div *ngFor="let photo of photos">
                                    <mdb-carousel-item>
                                        <div class="view w-100">
                                            <img class="d-block w-100" src="{{photo}}" alt="First slide">
                                            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                                        </div>
                                    </mdb-carousel-item>

                                </div>

                            </mdb-carousel>
                            <br>
                        </div>
                        <hr>
                        <h4>Hospital Information</h4>
                        <br>
                        <div class="info">
                            <b>Address:</b> {{moreInfoItem.providerStreetAddress | titlecase}} <br>
                            <b>Distance:</b> {{moreInfoItem.providerDistance}} miles <br>
                            <b>Cost:</b> ${{moreInfoItem.averageTotalPayments}}


                        </div>
                        <HR>
                        <h4>Price Trends</h4>

                        <mat-card *ngIf="chartReady == false" style="display: flex; justify-content: center; align-items: center">
                            <mat-progress-spinner color="primary" mode="indeterminate">
                            </mat-progress-spinner>
                        </mat-card>

                        <div id="chart-container" *ngIf="chartReady">
                            <canvas #myCanvas id="canvas" baseChart [chartType]="chartType" [datasets]="chartData" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions"></canvas>
                        </div>

                        <HR>
                        <div *ngIf="(reviews.length > 0) == true">
                            <h4>Reviews</h4>
                            <div class="review">
                                <div *ngFor="let review of reviews" id="reviews">
                                    <br>
                                    <h6><i>{{review.author_name}} {{review.relative_time_description}}</i></h6>
                                    {{review.text}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
