<div class="tableContainer" *ngIf="showTable">

    <!-- Name of current procedure -->
    <p><i>{{procedure | titlecase }}</i></p>


    <!-- Loading Circle -->
    <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </mat-card>

    <!-- filtering -->
    <div class="tableContainer" *ngIf="isLoading == false;">
        <div class="example-header">

            <div class="filter">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value); loadCurrent();" placeholder="Search By Name">
                </mat-form-field>
            </div>
            <!-- <div class="filter">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value); loadCurrent();" placeholder="State">
                </mat-form-field>
            </div>
            <div class="filter">
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value); loadCurrent();" placeholder="Zip">
                </mat-form-field>
            </div> -->
        </div>



        <div [ngClass]="['table-container mat-elevation-z8']" *ngIf="dataSource">

            <mat-table [dataSource]="dataSource" matSort>

                <!-- name Column -->
                <ng-container matColumnDef="providerName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header (click)="loadCurrent();"> Name </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.providerName}} </mat-cell>
                </ng-container>

                <!-- state Column -->
                <!-- <ng-container matColumnDef="providerState">
                    <mat-header-cell *matHeaderCellDef mat-sort-header (click)="loadCurrent();"> State </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.providerState}}</mat-cell>
                </ng-container> -->


                <!-- cost Column -->
                <ng-container matColumnDef="averageTotalPayments">
                    <mat-header-cell *matHeaderCellDef mat-sort-header (click)="loadCurrent();"> Cost </mat-header-cell>
                    <mat-cell *matCellDef="let item">${{item.averageTotalPayments}} </mat-cell>
                </ng-container>

                <!-- zip Column -->
                <!-- <ng-container matColumnDef="providerZipCode">
                    <mat-header-cell *matHeaderCellDef mat-sort-header (click)="loadCurrent();"> Zip </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.providerZipCode}} </mat-cell>
                </ng-container> -->


                <!-- Distance Column -->
                <ng-container matColumnDef="providerDistance">
                    <mat-header-cell *matHeaderCellDef mat-sort-header (click)="loadCurrent();"> Distance </mat-header-cell>
                    <mat-cell *matCellDef="let item"> {{item.providerDistance}} miles</mat-cell>
                </ng-container>

                <ng-container matColumnDef="moreInfo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Info </mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl" (click)="loadMoreInfo(item)">
                        More Info
                      </button>
                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>



            <!-- Page through table -->
            <mat-paginator (click)="loadCurrent();" [pageSizeOptions]="[10]"></mat-paginator>
        </div>

        <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{moreInfoItem.providerName}}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h1> {{moreInfoItem.providerDistance}} miles </h1>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>