table {
    width: 100%;
    overflow-x: auto;
    float: left;
    border-radius: 10px;
}

p {
    padding: 10px;
    margin: auto;
    text-align: center;
}

.btn-toolbar {
    padding: 10px;
    margin: auto;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
    display: block;
}

.filter {
    position: relative;
    display: inline-block;
    width: 250px;
    padding: 10px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table {
    /* overflow: auto; */
    max-height: auto;
}

.mat-slider {
    padding: 10px;
}

.button {
    width: 50px;
}

th.mat-header-cell .mat-sort-header-container.mat-sort-header-sorted .mat-sort-header-arrow {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

#stars {
    color: #ffae42;
}