<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white" [containerInside]="false">

    <mdb-navbar-brand>
        <!-- Just an image -->
        <a class="navbar-brand" href="#">
            <img src="../../assets/logo.png" height="70" alt="">
        </a>
    </mdb-navbar-brand>


    <links>
        <!-- Links -->
        <ul class="navbar-nav ml-auto ">

            <li class="nav-item ">
                <a [routerLink]="['/about']" class="nav-link waves-light " mdbWavesEffect>
                     About<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a [routerLink]="['/search-page']" class="nav-link waves-light" mdbWavesEffect>
                         Search</a>
            </li>

        </ul>

    </links>


</mdb-navbar>
